/drupal-start.com/public_html/nbproject/private/
/acquia-start.com/nbproject/private/
/html/bootcamp/nbproject/private/
/pankaj.com/nbproject/private/
/html/eig/drupal/nbproject/private/
/drupal-start.com/public_html/core/nbproject/private/